

{% set vim = salt['grains.filter_by']({
    'RedHat': {
        'pkg': 'vim-enhanced',
        'vimrc': 'vimrc_Cent',
        'vimrc_path': '/etc/vimrc',
    },
    'Debian': {
        'pkg': 'vim',
        'vimrc': 'vimrc_Rasp',
        'vimrc_path': '/etc/vim/vimrc',
    },
}, default='RedHat')%}
